.env
cos352_venv/
venv
v1_girlfriend_personas.json
v2_girlfriend_personas.json
dataset_100.jsonl
dataset_100_v2.jsonl
predict_test_v1.jsonl
predict_test_v2.jsonl
predict_test_v3.jsonl
predict_test_v4.jsonl
test_dataset_v1.jsonl
test_dataset_v2.jsonl
test_dataset_v3.jsonl